.container{
    height: calc(100vh - 100px);
    background-color: #d1411e;
    overflow: hidden;
    position: relative;
   
}

.wrapper{
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out;
}

.imgContainer{
    width: 100vw;
    height: 100%;
    position: relative;
}

@media (max-width:767px){
    .container {
      width: 110vh;
      height: 170vh;
    }

    .wrapper{
        width: 600vh;
        height: 160vh;
    }

    .imgContainer{
        width: 500vh;
    }
    
  }