.container{
    height: calc(100vh - 100px);
    background-color: #222;
    display: flex;
    overflow: hidden;
    background-image: url("/img/footerr.png");
    width:100vw;
    height:51vw; 
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
  /* opacity: 0.8; */
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(9, 9, 9, 0.772); /* Black background with 0.5 opacity */
}

.item:last-child{
    padding: 50px;
}

.card{
    padding: 0px 20px;
    color: #db4c28;
    font-weight: bolder;
}

.title{
    font-size: 18px;
    color: #b7903c;
}

.text{
    color: lightgray;
}


@media screen and (max-width: 480px) {
    .container{
        height: auto;
        text-align: center;
    }
    .item:first-child{
        display: none;
    }

    .item{
        flex-direction: column;
    }

    .title{
        font-size: 28px;
    }

    .text{
        font-size: 18px;
    }
}