.container{
    height: calc(100vh - 100px);
    background-color: #222;
    display: flex;
    overflow: hidden;
}

.item{
    flex: 1;
    position: relative;
    display: flex;
    top: 100px;
}

.item:last-child{
    flex: 2;
    padding: 50px;
    justify-content: space-between;
}

.card{
    flex: 1;
    padding: 0px 20px;
    color: #d1411e;
    font-weight: bold;
}

.title{
    font-size: 18px;
    color: #b7903c
}

.text{
    color: lightgray;
}

.bye{
    color: lightgray;

}

@media screen and (max-width: 480px) {
    .container{
        height: auto;
        text-align: center;
    }
    .item:first-child{
        display: none;
    }

    .item{
        flex-direction: column;
    }

    .title{
        font-size: 28px;
    }

    .text{
        font-size: 18px;
    }
}