.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
  height: 100%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.link{
    list-style: none;
    display: flex;
}

.text{
    color:rgb(69, 63, 61);
    font-size: 18px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header{
    color:rgb(69, 63, 61);
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1411e;
    height: 50px;
    width: 100%;
}

.imgWrapper{
    margin: 20px;
    background-color: rgb(21, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 350px;
    height: 410px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}
  
.imgWrapper:hover {
box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.imgWrapper:hover::before, .imgWrapper:hover::after {
display: block;
content: '';
position: absolute;
width: 250px;
height: 250px;
background: #FDA8CF;
border-radius: 75px;
z-index: -1;
animation: 1s clockwise infinite;
}
  
.imgWrapper:hover:after {
background: #F3CE5E;
animation: 2s counterclockwise infinite;
}
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
}

@media (max-width:767px){
  .container {
    width: 100vh;
    height: fit-content;
  }

  .menu{
    max-width: 700px;
  }

  .link{
    flex-direction: column;

  }

  /* .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

  } */
  
}

