.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
  height: 100%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.link{
    list-style: none;
    display: flex;
}

.text{
    color:rgb(69, 63, 61);
    font-size: 18px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header{
    color:rgb(69, 63, 61);
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1411e;
    height: 50px;
    width: 100%;
}

.imgWrapper{
    margin: 20px;
    background-color: rgb(21, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 350px;
    height: 410px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}
  
.imgWrapper:hover {
box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.imgWrapper:hover::before, .imgWrapper:hover::after {
display: block;
content: '';
position: absolute;
width: 250px;
height: 250px;
background: #FDA8CF;
border-radius: 75px;
z-index: -1;
animation: 1s clockwise infinite;
}
  
.imgWrapper:hover:after {
background: #F3CE5E;
animation: 2s counterclockwise infinite;
}
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
}



/* iphone se */
@media (width:375px) {

  .link{
    flex-direction: column;
    height: 1px;
  }

  .text{
    padding: 10px;
    font-size: 25px;
  }

  .imgWrapper{
    font-size: 28px;
  }

  .container{
      width: 136vh; 
      height: 230vh;
 } 
}


/* iphone 12pro  pixel5*/
@media(min-width: 390px) and (max-width:393px) {
  
  .link{
    flex-direction: column;
    height: 1px;
  }

  .text{
    padding: 10px;
    font-size: 25px;
  }

  .imgWrapper{
    font-size: 28px;
  }

  .container{
      width: 116vh; 
      height: 190vh;
 } 
}

/* samsung s8 */
@media(width: 360px) {
  .link{
    flex-direction: column;
    height: 1px;
  }

  .text{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
  }

  .imgWrapper{
    font-size: 28px;
  }

  .container{
      width: 136vh; 
      height: 210vh;
 } 
}

/* iphone xr, samsung s20*/
@media(min-width: 412px) and (max-width: 414px) {
  .link{
    flex-direction: column;
    height: 10px;
  }

  .text{
    padding: 10px;
    font-size: 25px;
  }

  .imgWrapper{
    font-size: 28px;
  }

  .container{
      width: 100vh; 
      height: 175vh;
 } 
}


/* surface duo */
@media(width: 540px) {
  .link{
    flex-direction: column;
    height: 1px;
  }

  .text{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 27px;
  }

  .imgWrapper{
    font-size: 28px;
  }

  .wrapper{
    width: 900px;
  }

  .container{
      width: 132vh; 
      height: 220vh;
 } 
}

/* ipad air and surface pro*/
@media(min-width: 820px) and (max-width: 912px) {
  .link{
    flex-direction: column;
    height: 1px;
  }

  .text{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 27px;
  }

  .imgWrapper{
    font-size: 28px;
  }

  .wrapper{
    width: 900px;
  }

  .container{
      width: 104.2vh; 
      height: 120vh;
 } 
}

/* ipad mini */
@media(width: 768px) {
  .link{
    flex-direction: column;
    height: 1px;
  }

  .text{
    padding: 10px;
    font-size: 25px;
  }

  .wrapper{
    width: 800px;
  }

  .imgWrapper{
    font-size: 28px;
  }

  .container{
      width: 120vh; 
      height: 160vh;
 } 
}

/* galaxy fold */
@media(width: 280px) {
  
  .link{
    flex-direction: column;
    height: 1px;
  }

  .text{
    padding: 10px;
    font-size: 25px;
  }

  .wrapper{
    width: 800px;
  }

  .imgWrapper{
    font-size: 28px;
  }

  .container{
      width: 160vh; 
      height: 295vh;
 } 
}

/*  Nest Hub */
@media(width: 1024px) {
  .text{
    padding: 10px;
    font-size: 25px;
  }

  .wrapper{
    width: 950px;
  }

  .imgWrapper{
    font-size: 28px;
    width: 100%;

  }

  .container{
      width: 217vh; 
      height: 150vh;
 } 

}

/* laptops desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
  .container{
      width: 220vh;
      height: 130px;
      background-color: yellow;
  }

  .list{
      font-size: 30px;
  }
} */

/* Media Query for Large screens */
@media (min-width: 1500px) {
  .container{
      width: 190vh;
      height: 130px;
  }

  .list{
      font-size: 30px;
  }
}
