.container{
    /* background-color: purple; */
    height: 100px;
    padding: 0px 50px;
    background-color:#d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    /* cursor: pointer; */
    
}

.item{
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2) {
/* literally takes a 3rd of the entire portion */
flex: 3;
}

.item:nth-child(3) {
    /* last child goes to the right end */
    justify-content: flex-end;
    }

.callButton{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    width: 50px;
}

.texts{
    margin-left: 20px;
    color: white
}

.text:nth-child(1){
    font-size: 12px;
    font-weight: 500;
}

.text:nth-child(2){
    font-size: 20px;
    font-weight: bold;

}

.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white
}

.listItem{
    width: 60%;
    padding: 5px;
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
  
.listItem::before {
    background: rgb(26, 26, 25);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  
.listItem:hover::before {
transform: scaleX(1);
transform-origin: left;
}

.cart{
    position: relative;
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding : 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #d1411e;
}

@media (max-width:767px){
    .container {
      width: 105vh;
      height: 250px;
      /* flex-wrap: wrap; */
    }
    
    .text:nth-child(1){
        display: none;
    }

    .text:nth-child(2){
        position: relative;
        top: 40px;
        right: 70px;
    }

    .texts{
        margin-left: 0
    }

    .listItem{
        /* width: fit-content */
        padding: 0;
    }
}