.container{
    height: calc(100vh - 100px);
    display: flex;
}

.left{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right{
    flex: 1;
    padding: 20px;
}

.imgContainer{
    width: 80%;
    height: 60%;
    position: relative;
    bottom: 80px
}

.price{
    color: #b43617;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #b43617;
}

.size{
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer
}

.size:nth-child(2){
    width: 40px;
    height: 40px;
}

.size:last-child{
    height: 50px;
    width: 50px
}

.sizes{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.number{
    position: absolute;
    top: -15px;
    right: -9px;
    /* margin-top: 70px; */
    background-color: #8f260c;
    color: white;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 10px;
}

.extras{
    display: flex;
    margin-bottom: 30px;
}

.options{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}

.checkbox{
    width: 20px;
    height: 10px;
}

.quantity{
    width: 50px;
    height: 30px;
}

.button{
    height: 30px;
    margin-left: 10px;
    background-color: #8f260c;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .container{
        height: auto;
        text-align: center;
        flex-direction: column;
        margin-top: 20px
    }

    .imgContainer{
        width: 70vw;
        height: 70vw;
    }

    .title{
        margin: 5px;
    }

    .sizes{
        width: 100%;
        padding: 0px, 20px;
    }

    .toppings{
        flex-direction: column;
    }

    .options{
        margin: 8px;
        font-size: 15px;
    }

    .checkbox{
        width: 18px;
        height: 18px;
    }

    .quantity, .button{
        height: 40px;
        padding: 10px 20px;
    }
}