.container{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(18, 18, 18);
}

.desc{
    text-align: center;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(220, 216, 216);
    width: 70%;
}

.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 450px){
    .container{
        width: 100%;
        padding-bottom: 50px;
    }

    .desc{
        padding-top: 30px;
        height: 150px;
        font-size: 5em;
        color: rgb(42, 216, 216);
    }
}

@media (max-width: 950px) and (min-width: 700px){
    .container{
        width: 1230px;
        padding-bottom: 30px;
    }

    .desc{
        height: 50px;
        font-size: 4em;
        color: rgb(42, 216, 216);
    }
}