.container{
    width: 30%;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    background-color: rgb(17, 16, 16);
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: #b43617;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: rgb(95, 92, 92);
}

.desc{
    text-align: center;
    color: #777;
}

.image{
    border: 3px solid black;
    width: 450px;
    height: auto;
}

/* iphone se */
@media (width:375px) {
    .container{
        width: 80px;
    }

    .image{
        width: 280px;
    }

    .title{
        font-size: 30px;
    }

    .desc{
        font-size: 24px;
    }
}

/* iphone xr, samsung s20*/
@media(min-width: 412px) and (max-width: 414px) {
    .container{
        width: 80px;
        height: 500px;
    }

    .image{
        width: 280px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }
}

/* iphone 12pro  pixel5*/
@media(min-width: 390px) and (max-width:393px) {
    
    .container{
        width: 80px;
        height: 500px;
    }

    .image{
        width: 280px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }
}

/* samsung s8 */
@media(width: 360px) {
    .container{
        /* width: 80px; */
        height: 300px;
    }

    .image{
        width: 280px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }
}

/* ipad air*/
@media(width: 820px) {
    .container{
        /* width: 80px; */
        height: 300px;
    }

    .image{
        width: 280px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }
}

/* ipad mini */
@media(width: 768px) {
    .container{
        /* width: 80px; */
        height: 300px;
    }

    .image{
        width: 280px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }
}

/* surface pro*/
@media(width: 912px) {
    .container{
        /* width: 80px; */
        height: 300px;
    }

    .image{
        width: 280px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }
}

/* surface duo */
@media(width: 540px) {
    .container{
        /* width: 80px; */
        height: 350px;
    }

    .image{
        width: 215px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }
}

/* galaxy fold */
@media(width: 280px) {
    
    .container{
        /* width: 80px; */
        height: 280px;
    }

    .image{
        width: 215px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }
}


/*  Nest Hub max*/
@media(width: 1280px) {
    .container{
        height: 280px;
    }

    .image{
        width: 400px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }

}

/*  Nest Hub */
@media(width: 1024px) {
    .container{
        height: 280px;
    }

    .image{
        width: 400px;
    }

    .title{
        font-size: 28px;
    }

    .desc{
        text-align: center;
        font-size: 24px;
    }

}

/* laptops desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
    .container{
        width: 220vh;
        height: 130px;
        background-color: yellow;
    }

    .list{
        font-size: 30px;
    }
} */
  
/* Media Query for Large screens */
@media (min-width: 1500px) {
    .container{
        width: 190vh;
        height: 130px;
    }

    .list{
        font-size: 30px;
    }
}
 